mixin rev(type, path)
    | <!-- -->
    | <!-- build:#{type} #{path} -->

mixin rev-end()
    | <!-- -->
    | <!-- endbuild -->

doctype html
html
    head
        //- Meta
        title=document.title
        meta(charset='utf-8')
        - var minimalUiMeta = document.iosMinimalUi?', minimal-ui':''
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' + minimalUiMeta)
        base(href=document.baseHref)

        //- Styles
        +rev('css', 'styles/screen.css')
        link(type='text/css', rel='stylesheet', media='screen, projection', href='styles/screen.css')
        +rev-end()
        +rev('css', 'styles/print.css')
        link(href='styles/print.css', media='print', rel='stylesheet', type='text/css')
        +rev-end()

        //- Bower components
        - if (env.name == 'dev')
            - each path in dependencies.bower
                - if (dependencies.skip.indexOf(path) == -1 && dependencies.legacy.indexOf(path) == -1)
                    script(src=path, type='text/javascript')
            | <!--[if lt IE 9]>
            - each path in dependencies.bower
                - if (dependencies.skip.indexOf(path) == -1 && dependencies.legacy.indexOf(path) != -1)
                    script(src=path, type='text/javascript')
            | <![endif]-->
        - else
            +rev('js', 'scripts/vendor.js')
            script(src='scripts/vendor.js', type='text/javascript')
            +rev-end()

    body(ng-app='App', ng-controller='MainCtrl')
        //- Body
        include templates/body

        //- Scripts
        - if (env.name == 'dev')
            - each path in dependencies.scripts
                script(src=path, type='text/javascript')
        - else
            +rev('js', 'scripts/app.js')
            script(src='scripts/app.js', type='text/javascript')
            +rev-end()
            +rev('js', 'scripts/partials.js')
            script(src='scripts/partials.js', type='text/javascript')
            +rev-end()