doctype html
html
    head
        //- Meta
        title=document.title
        meta(charset='utf-8')
        - var minimalUiMeta = document.iosMinimalUi?', minimal-ui':''
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' + minimalUiMeta)
        base(href=document.baseHref)

        //- Styles
        | <!-- rev-hash -->
        link(href='styles/screen.css', media='screen, projection', rel='stylesheet', type='text/css')
        | <!-- end --><!-- rev-hash -->
        link(href='styles/print.css', media='print', rel='stylesheet', type='text/css')
        | <!-- end -->

        //- Bower components
        - if (env.name == 'dev')
            - each path in dependencies.bower
                - if (dependencies.legacy.indexOf(path) == -1)
                    | <!-- rev-hash -->
                    script(src=path, type='text/javascript')
                    | <!-- end -->
            | <!--[if lt IE 9]>
            - each path in dependencies.bower
                - if (dependencies.legacy.indexOf(path) != -1)
                    | <!-- rev-hash -->
                    script(src=path, type='text/javascript')
                    | <!-- end -->
            | <![endif]-->
        - else
            | <!-- rev-hash -->
            script(src='scripts/vendor.js', type='text/javascript')
            | <!-- end -->

    body(ng-app='boilerplate-html5')
        //- Body
        include templates/body

        //- Scripts
        - if (env.name == 'dev')
            - each path in dependencies.scripts
                script(src=path, type='text/javascript')
        - else
            | <!-- rev-hash -->
            script(src='scripts/app.js', type='text/javascript')
            | <!-- end --><!-- rev-hash -->
            script(src='scripts/partials.js', type='text/javascript')
            | <!-- end -->