doctype html
html
    head
        //- Meta
        title=document.title
        meta(charset='utf-8')
        - var minimalUiMeta = document.iosMinimalUi?', minimal-ui':''
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' + minimalUiMeta)
        base(href=document.baseHref)

        //- Styles
        link(href='styles/screen.css', media='screen, projection', rel='stylesheet', type='text/css')
        link(href='styles/print.css', media='print', rel='stylesheet', type='text/css')

        //- Bower components
        - each path in dependencies.bower
            - if (dependencies.legacy.indexOf(path) == -1)
                script(src=path, type='text/javascript')
        | <!--[if lt IE 9]>
        - each path in dependencies.bower
            - if (dependencies.legacy.indexOf(path) != -1)
                script(src=path, type='text/javascript')
        | <![endif]-->

    body(ng-app='boilerplate-html5')
        //- Body
        include templates/body

        //- Scripts
        - each path in dependencies.scripts
            script(src=path, type='text/javascript')
